.main
{
    border:1px solidblack;
    width:30px;
    text-align: center;
    height :300px;  
}

.main h3 
{
    font-family: 'Gill Sans';
}
.main button
{
   width:170px;
   background-color: rgb(135, 182, 235); 

}